# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
*venv/

# Django static files
staticfiles/

# Environment
.env

# Logs
*.log
django.log
celery_worker.log
celery_beat.log
logs_beat.out
logs_celery.out
logs_web.out
# Session and test config files
*.session
*.session-journal
test_*.json
